@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<html>
<head>

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="@Umbraco.Field("metaDescription")">
        <meta name="keywords" content="@Umbraco.Field("metaKeywords")">
        <meta name="author" content="Søren Ravn Lund">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/Styles/Custom.min.css" rel="stylesheet" />
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-info">
            <div class="container">
                <a class="navbar-brand" href="/Homepage">DevsAarhus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" @*aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"*@>
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        @Umbraco.RenderMacro("NavigationMenu")
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Umbraco">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>

        <div class="container">
            <div class="row col-md-12">
                @RenderBody()
            </div>
        </div>

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </body>

</html>